.container {
    max-width: 1100px;
    height: 100%;
    margin: auto;
    padding-left: 2rem;
    padding-right: 2rem;
}

header {
    background-color: #2f3237;
    color: #50e3c2;
    height: 2rem;
}

.logo-container {
    display: flex;
    align-items: center;
    height: 100%;
}

.logo {
    height: 100%;
    width: 6rem;
    background-color: #50e3c2;
    mask: url(/assets/images/logo-endless.svg) no-repeat center;
}

#showcase {
    background: url(/assets/images/photo-couch_2x.jpg) no-repeat center center/cover;
    height: 95vh;
}

.showcase-content {
    color: #fff;
    height: 100%;
    width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 6rem;
    font-weight: 300;
}

.showcase-content p {
    margin-bottom: 1rem;
}

.showcase-sub-content {
  font-weight: 400;
  font-size: 0.9rem;
  width: 22rem;
}

.btn {
    display: inline-block;
    background: #50e3c2;
    width: 10rem;
    padding: 0.3rem 1rem;
    border-radius: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    font-weight:400;
    cursor: pointer;
    transition: all 1s ease;
}

.btn:hover {
    opacity: 0.8;
}

.large-text {
    font-size: 2rem;
    line-height: 1.2;
    letter-spacing: 0.1rem;
}

.hiw-section {
    background-color: #f2f1ef;
    padding: 2rem 0;
    color: #000;
}
