<header class="header">
  <div class="container">
      <div class="logo-container">
          <div class="logo"></div>
      </div>
  </div>
</header>

<div id="showcase">
  <div class="container">
      <div class="showcase-content">
          <p>New Games & Accessories</p>
          <p class="large-text">
              Monthly packages.<br/>
              Excitement deliverd daily.
          </p>
          <p class="showcase-sub-content">
              What's the best way to shop for the latest video games and peripherals?
               How about never shopping at all?<br/>
              You'll get new stuff on your doorstep - every month.
          </p>
          <a class="btn">Get Started</a>
      </div>
  </div>
</div>

<section class="hiw-section">
  <div class="container">
  </div>
</section>
