.container {
    max-width: 1100px;
    height: 100%;
    margin: auto;
    padding-left: 2rem;
    padding-right: 2rem;
}

.logo-container {
    display: flex;
    align-items: center;
    height: 100%;
}

.logo {
    height: 100%;
    width: 6rem;
    background-color: #50e3c2;
    mask: url(/assets/images/logo-endless.svg) no-repeat center;
}

header {
    background-color: #2f3237;
    color: #50e3c2;
    height: 2rem;
}

#showcase {
    height: 95vh;
}

.hiw-section {
    background-color: #f2f1ef;
    padding: 2rem 0;
    color: #000;
}
